Repository atc0005/go-nagios, pull requests merged in 2024-01, with the labels that each got.

#236 Fix panic if ParseRangeCheck returns nil
  nagios.go
  range.go
  range_test.go
Labels: bug, tests, range, thresholds

#237 Update Range Check regexp
  range.go
Labels: bug, linting, range

#238 Update CHANGELOG for v0.16.1 release
  CHANGELOG.md
Labels: changelog
